html, body {
    background-color: #121520;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
}
.swift {
    width: 7%;
}
.log {
    width: 15%;
}

.navbar, .top {
    /* background-color: #2970DD; */
    background-color: 
rgba(0, 52, 88, 0.75);
}
.navbar {
    position:absolute; top:0px; left:0px; z-index:2;
    width : 100%;
}
.wrapper {
        position:absolute; top:0px; left:0px; 
    }

.ctam {
    padding: 10px;
}

.title {
    /* top | horizontal | bottom */
    padding: 0.30em 0em 0.65em;
}

.point {
    color: rgba(20,23,35);
}

h3 {
    padding: 20px;
}

h3::before {
    content: '';
display: block;
width: 50%;
height: 1px;
background-color: rgba(255, 255, 255, 0.25);
margin: 40px auto 20px;
}

h2 {
    color: rgba(143, 156, 170, 1);
}

h4 {
    font-size: 2em;
    /* top | horizontal | bottom
    padding: 0.30em 0em 0.65em;*/
    
    margin: 0em 1em 1em;
    color: rgba(210, 210, 215, 1);
}

p {
    font-size: 1.2em;
    margin: 0em 2em 1em;
    color: rgba(163, 176, 180, 1);
}


.section {
    margin-top: 3em;
    margin-bottom: 3em;
}

.contact {
    text-align: left;
}
.folio {
    width: 50%;
    padding: 10px;
}

.primary {
    text-decoration: none;
    color: orange;
}

.generalSection {
    text-align: justify;
    border-radius: 18px;
    background: #151829;
    padding-top: 1em;
    padding-bottom: 1em;
}

.whatWeDo {
    text-align: left;
    
    /* top | right | bottom | left */
    margin: 0em 1em 0em 8em;
}

.lighterBgd {
    background-color: #141723;

}

.darkerBgd {
    background-color: #121520;
}

.someWork {
    padding: 1.5em 0em;
}

.footer {
    font-size: 0.7em
}

.clientLogo {
    display: inline-block;
    width: 20%;
    height: auto;
    margin-top: 0;
    margin-right: 2em;
    margin-bottom: 3em;
}

.round {
    border-radius: 18px;
    background: #112;
    padding-top: 1em;
    padding-bottom: 1em;
}
